.box {
    height: 75px;
    background-color: #F0F0F0;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.box-image {
    float: left;
    margin-top: 12px;
    margin-left: 12px;
}

.box-image img{
    height: 50px;
    width: 50px;
}

.box-content {
    margin-left: 80px;
}

.truncate  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dashboard-container{
    display: none;
}