.navbar-inverse {
    background-color: #0079B0;
    z-index: -1;
}

.white {
    color: #fff;
}

.home-icon {
    float: left;
    margin-left: 20%;
    margin-top: 8px;
    width: 35px;
    height: 30px;
}

.login {
    float: right;
    margin-right: 20%;
    margin-top: 15px;
    color: #ffffff;
}

.hello-username {
    float: right;
    margin-right: 20%;
    margin-top: 15px;
}

.hello-username span {
    color: #ffffff;
    display: inline;
}

.header-link:hover {
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover{
    color: #428bca;
    text-decoration: none;
}
